.scroller {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-type: y mandatory;
    height: calc(100vh - 51px);
    overflow-y: auto;
    background-color: black;
    .scroll-item {
        scroll-snap-stop: always;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: rgb(56, 56, 56);
        height: 100%;
        width: min(56.25vh, 100%);
        scroll-snap-align: start;
        img {
            border-radius: 8px;
            width: 250px;
        }
        &:nth-child(odd) {
            background-color: rgb(190, 190, 190);
        }
        .toolbar {
            display: flex;
            flex-flow: column;
            gap: 12px;
            position: absolute;
            bottom: 12px;
            right: 12px;
            ion-icon {
                font-size: 48px;
                padding: 12px;
                cursor: pointer;
            }
        }
    }

    .wrapper {
        scroll-snap-stop: always;
        scroll-snap-align: start;
        flex-shrink: 0;
        flex-grow: 0;
        display: grid;
        column-gap: 0;
        row-gap: 0;
        grid-template-columns: auto 20px;
        grid-template-rows: auto 250px 100px;
        height: 100%;
        background-color: blue;
        &:nth-child(odd) {
            background-color: rgb(190, 190, 190);
        }
        width: min(56.25vh, 100%);
        .toolbar {
            grid-area: 1 / col2-start / row3-end / col2-end;
            background-color: red;
        }
        .content {
            grid-area: 1 / 1 / row2-start / col2-start;
            background-color: violet;
        }
        .title {
            grid-area: 2 / 1 / row2-start / col2-start;
            background-color: yellow;
        }
        .flipper {
            grid-area: 3 / 1 / row4-start / col2-start;
            background-color: green;
        }
    }
}
