.scroller {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-type: y mandatory;
    height: 100%;
    overflow-y: auto;
    background-color: black;
    .scroll-item {
        scroll-snap-stop: always;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: rgb(56, 56, 56);
        height: 100%;
        width: min(56.25vh, 100%);
        scroll-snap-align: start;
        img {
            border-radius: 8px;
            width: 250px;
        }
        &:nth-child(odd) {
            background-color: rgb(190, 190, 190);
        }
        .toolbar {
            display: flex;
            flex-flow: column;
            gap: 12px;
            position: absolute;
            bottom: 12px;
            right: 12px;
            ion-icon {
                font-size: 48px;
                padding: 12px;
                cursor: pointer;
            }
        }
    }
}

ion-infinite-scroll-content {
  max-height: 0px;
}
