<div class="scroller" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="loadNextOffers()" [scrollWindow]="false">
  <div class="wrapper" *ngFor="let item of offers">
    <div class="background">
      <img [src]="item.gif_url">
    </div>
    <div class="foreground">
      <div class="left">
        <div class="content">
          <div *ngIf="item.posters && item.posters.split(',').length >= 0">
            <img [src]="item.posters.split(',')[0]">
          </div>
        </div>
        <div class="title">
          <h1>{{ item.title }}</h1>
          <div *ngIf="item.genres">
            <ion-chip *ngFor="let genre of item.genres.split(',')">
              <ion-label>{{ genre }}</ion-label>
            </ion-chip>
          </div>
        </div>
        <div class="flipper"></div>
      </div>
      <div class="toolbar">
        <ion-icon name="eye-outline"></ion-icon>
        <ion-icon name="share-social-outline" (click)="share(item.url ?? '')"></ion-icon>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>
