.scroller {
    display: flex;
    flex-flow: column;
    align-items: center;
    scroll-snap-type: y mandatory;
    height: calc(100vh - 51px);
    overflow-y: auto;
    background-color: black;
    .scroll-item {
        scroll-snap-stop: always;
        flex-shrink: 0;
        flex-grow: 0;
        background-color: rgb(255, 184, 184);
        height: 100%;
        width: 56.25vh;
        scroll-snap-align: start;
        &:nth-child(odd) {
            background-color: rgb(206, 206, 255);
        }
        .toolbar {
            display: flex;
            flex-flow: column;
            ion-button {
                --background: none;
                --background-hover: none;
            }
        }
    }
}