<div class="scroller" #scroller infinite-scroll [infiniteScrollDistance]="2" (scrolled)="loadNextOffers()" [scrollWindow]="false" (touchstart)="touchStart($event)" (touchmove)="touchMove($event)" (touchend)="touchEnd($event)">
  <div class="wrapper" *ngFor="let item of offers; let i = index">
    <div class="background">
      <img [src]="item.gif_url">
    </div>
    <div class="foreground" [id]="'offer-' + i">
      <div class="left">
        <div class="content">
          <div class="text" *ngIf="item.reasons">
            <p *ngFor="let reason of item.reasons">{{ reason }}</p>
          </div>
        </div>
        <div class="title">
          <div *ngIf="item.posters && item.posters.split(',').length > 0">
            <img [src]="item.posters.split(',')[0]">
          </div>
          <div *ngIf="!item.posters || item.posters.split(',').length === 0">
            <img src="../../../assets/poster-placeholder.jpg">
          </div>
          <div class="container">
            <h1>{{ item.title }}</h1>
            <div *ngIf="item.genres">
              <ion-chip *ngFor="let genre of item.genres.split(',') | slice:0:5">
                <ion-label>{{ genre }}</ion-label>
              </ion-chip>
              <ion-chip [ngClass]="{'red': item.label! == 'gem', 'blue': item.label! == 'trending'}">
                <ion-label>{{ item.label! | titlecase }}</ion-label>
              </ion-chip>
            </div>
          </div>
        </div>
        <div class="flipper" #flipper>
          <p>
            {{ review[reviewIndex] }}
          </p>
        </div>
      </div>
      <div class="toolbar">
        <div class="container">
          <a [href]="item.url ?? ''" target="_blank">
            <ion-icon name="play-circle" class="play"></ion-icon>
          </a>
          <ion-icon name="checkmark-done-outline" (click)="rememberWatched(i, item.id)" [ngClass]="{'checked': hasWatched(item.id)}"></ion-icon>
          <ion-icon name="share-social-outline" (click)="share(item.url ?? '')"></ion-icon>
          <ion-icon name="chatbubble-ellipses-outline" (click)="openCommentModal(item)"></ion-icon>
          <img [src]="getProviderIcon(item)">
        </div>
      </div>
    </div>
  </div>
</div>
