<div class="scroller" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="loadNextOffers()" [scrollWindow]="false">
  <div class="wrapper" *ngFor="let item of offers; let i = index">
    <div class="background">
      <img [src]="item.gif_url">
    </div>
    <div class="foreground" [id]="'offer-' + i">
      <div class="left">
        <div class="content">
          <p>This is a test</p>
          <p>Lorem ipsum solor et dilor.</p>
          <p>Shit bussin</p>
        </div>
        <div class="title">
          <div *ngIf="item.posters && item.posters.split(',').length > 0">
            <img [src]="item.posters.split(',')[0]">
          </div>
          <div *ngIf="!item.posters || item.posters.split(',').length === 0">
            <img src="../../../assets/poster-placeholder.jpg">
          </div>
          <div class="container">
            <h1>{{ item.title }}</h1>
            <div *ngIf="item.genres">
              <ion-chip *ngFor="let genre of item.genres.split(',') | slice:0:5">
                <ion-label>{{ genre }}</ion-label>
              </ion-chip>
            </div>
          </div>
        </div>
        <div class="flipper" #flipper>
          <p>
            {{ review[reviewIndex] }}
          </p>
        </div>
      </div>
      <div class="toolbar">
        <div class="container">
          <a [href]="item.url ?? ''" target="_blank">
            <ion-icon name="play-circle" class="play"></ion-icon>
          </a>
          <ion-icon name="checkmark-done-outline" (click)="scrollIntoView(i + 1)"></ion-icon>
          <ion-icon name="share-social-outline" (click)="share(item.url ?? '')"></ion-icon>
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <img [src]="getProviderIcon(item)">
        </div>
      </div>
    </div>
  </div>
</div>
