<div class="modal-container">
  <div class="header">
    <div class="header-heading-wrapper">
      <span>Quick Hits - What your peers think</span>
      <!-- <ion-icon (click)="onCancel()" name="close-circle" id="button-cancel"></ion-icon> -->
    </div>
  </div>
  <div *ngFor="let comment of comments" fill="outline" class="comment">
      <img alt="Silhouette of a person's head" [src]="getAvatar(comment.name)">
      <div class="text">
        <p class="name">{{ comment.name }}</p>
        <p>{{ comment.review }}</p>
      </div>
  </div>
  <div class="lds-ripple" *ngIf="isLoading">
    <div></div>
    <div></div>
  </div>
</div>