<div class="modal-container">
  <div class="header">
    <div class="header-button-wrapper">
      <ion-icon (click)="onCancel()" name="close-circle-outline" id="button-cancel"></ion-icon>
    </div>
    <div class="header-heading-wrapper">
      <ion-label>Quick Hits: What your peers think</ion-label>
    </div>
  </div>
  <div class="scroll-content">
    <ion-item *ngFor="let comment of comments">
      <ion-label>{{ comment.name }}</ion-label>
      <ion-label>{{ comment.review }}</ion-label>
    </ion-item>
  </div>
</div>
